.cajon3{
    margin-top: 1cm;    
}

p{
	text-align: inherit;
}
img.imagen{
	float: left; 
	margin-right:1%;
	width: 43%;
	height: 13.75em;
}

img.imagen2{
	margin-top:4%; 
	margin:2% auto;
	display:block;
	width: 90%;
	height: 15%;
}

