.cuerpo2{
    margin-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 8%;
}

.cuerpo3{
    margin-top: 2%;
    margin-bottom: 4%;
}

.cajon3{
    margin-top: 1cm;    
}

p{
	text-align: inherit;
}
img.imagen{
	float: left; 
	margin-right:1%;
	width: 43%;
	height: 10%%;
}

img.imagen2{
	margin-top:4%; 
	margin:2% auto;
	display:block;
	width: 90%;
	height: 15%;
}

