p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 120%;
}

main{
	margin: 5% 20% 20% 20%;
}

fieldset{
	padding: 5%;
}

.caritatriste{
	display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.excepcion{
	text-align: center;
	font-size: 120%
}
