iframe {
    display: block;
    width: 18.75em;
    height: 18.75em;
    margin-left: auto;
    margin-right: auto;
    border-width: .2em;
}

#all{
    width:100%;
    float:left;
    text-align:center;
}
div.sub, iframe {
    width: 41.25em;
    height: 28.75em;
    margin: 0 auto;
    border: 0.3125em solid gray;
}
address{
    font-size: 20px;
    text-align: center;
    
}
h1.ubi-text{
	margin: 0%;
	margin-bottom: 5%;
	text-align: center;
}
