.margenFormularioContacto {
    padding: 2%;
    border-style: solid;
    border-color: grey;
    margin: 2%;
    background-color: lightblue;
    border-width: .2em;
}

p.textoContacto{
   border: 0.125em solid black;
   margin-right: 50em;
   padding-left: 0.25em;
   margin-bottom: 0.625em;
   background-color: white;
}

h2.hContacto{
	text-decoration: underline;
}

section.secM{
	margin-top: 1%;
	margin-bottom: 1%";
}
