p{
    background-color: white;
}

.margenFormulario {
    padding: 2%;
    border-style: solid;
    border-color: grey;
    margin: 2%;
    background-color: lightblue;
    border-width: .2em;
}

.margenGeneral {
    margin-top: 0.625em;
}

.texto{
   border: 0.125em solid black;
   margin-right: 50em;
   padding-left: 0.25em;
   margin-bottom: 0.625em;
}

h2{
	text-decoration: underline;
}
