p{
    background-color: white;
}

.margenFormulario {
    padding: 2%;
    border-style: solid;
    border-color: grey;
    margin: 2%;
    background-color: lightblue;
    border-width: .2em;
}

.margenGeneral {
    margin-top: 10px;
}

.texto{
   border: 2px solid black;
   margin-right: 800px;
   padding-left: 4px;
   margin-bottom: 10px
}

h2{
	text-decoration: underline;
}
