img.centroInst{
    margin:0.625em auto;
	display:block;
	margin-top:0.625em;
	text-align: center;
	border-width: .2em;
	border-radius: 0.2em;
	border-style: solid;
	width: 18.75em;
	height: 12.5em;
}

.titulo{
    text-align: center;
    color: black;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 1.925em;
    text-decoration: underline;
}

.titulo2{
    text-align: center;
    color: black;
    
    font-size: 1.925em;
    text-decoration: underline;
}
