div.cuerpoNormativa {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: coral;
    margin-top: 2cm;
    margin-left: 6cm;
    margin-right: 6cm;
    background:#E4E4E3;
}
