/*
 * USADO EN: formulario-reserva, Administración_usuario
 */
form.formRes{
    padding: 2%;
    padding-bottom: 2%;
}

fieldset.fieldsetRes{
    border-radius: 1em;
    margin-bottom: 1%;
    border-width: .2em;
    background-color: #DEF0F3;
}

section.sectionRes{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.625em;
}

label.labelRes{
    display:inline-block;
    float: left;
    clear: left;
    text-align: left;
    padding: .2em;
}

.Cuerpo{
    border-width: 0.125em;
    border-color: black;
    border-style: solid;
    margin-top: 2.5em;
    margin-left: 34.375em;
    margin-right: 34.375em;
    margin-bottom: 3.125em;
    padding-bottom: 0em;
}
.margenFormulario {
    padding: 0.625em;
    border-style: solid;
    border-color: black;
    margin: 2cm;
    background-color: white;
}
.margenSexo {
    margin-right: 1.875em;
}

.titulo{
    text-align: center;
    color: black;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 0.625em;
    text-decoration: underline;
}

.titulo2{
    text-align: center;
    color: black;
    
    font-size: 0.625em;
    text-decoration: underline;
}

div.alineacion{
	margin-top: 2%;
	margin-bottom: 2%; 
	padding: 5%;
}

div.admin1{
	margin-right: 7%;
	margin-left: 7%;
}

div.admin2{
	margin-top: 2%; 
	margin-bottom: 2%; 
	text-align: end;
}

p.adminP{
    text-align: left;
}

img.adminI{
	height: 5%;
	width: 5%;
	margin-right: 5%; 
	margin-bottom: 0%; 
    float: left;
}

label.adminL{
	text-align: left;
	display:inline-block;
    float: left;
    clear: left;
    text-align: left;
    padding: .2em;
    }

section.adminS{
	margin-bottom: 1%;
	margin-top: 1%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.625em;
}

section.adminS2{
	margin-right: 20%;
	margin-left: 20%;
    margin-bottom: 5%;
    border-bottom: .2em;
    border-color: black;
    border-width: 1em;
    display: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.625em;
}

span.adminP2{
    text-align: left;
}

span.adminP3{
    text-align: right;
    margin-left: 50%;
}

p.adminP4{
	margin-top: 20%;
	text-align: left;
}

section.tabla{
	margin-top: 0;
	float: left;
}

ul.sala{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li.lista{
float:left;
 }
 
li a.enlace{
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

span.error{
    font-style: normal;
    color: red;
}

span.TextosPass{
    margin-left: 3em;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

span.TextoDNI{
    margin-left: 3em;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
