/*
 * USADO EN: formulario-reserva, Administración_usuario
 */
form{
    padding: 2%;
    padding-bottom: 2%;
}

fieldset{
    border-radius: 1em;
    margin-bottom: 1%;
    border-width: .2em;
    background-color: #DEF0F3;
}

section{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

label{
    display:inline-block;
    float: left;
    clear: left;
    text-align: left;
    padding: .2em;
}

.ubi-text{
    text-align: center;
}

.Cuerpo{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 50px;
    padding-bottom: 0px;
}
.margenFormulario {
    padding: 10px;
    border-style: solid;
    border-color: black;
    margin: 2cm;
    background-color: white;
}
.margenSexo {
    margin-right: 30px;
}
.margenGeneral {
    margin-top: 10px;
}

.titulo{
    text-align: center;
    color: black;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 10 px;
    text-decoration: underline;
}

.titulo2{
    text-align: center;
    color: black;
    
    font-size: 10 px;
    text-decoration: underline;
}

div.alineacion{
	margin-top: 2%;
	margin-bottom: 2%; 
	padding: 5%;
}

div.admin1{
	margin-right: 7%;
	margin-left: 7%;
}

div.admin2{
	margin-top: 2%; 
	margin-bottom: 2%; 
	text-align: end;
}

p.adminP{
	text-align: left;
}

img.adminI{
	height: 5%;
	width: 5%;
	margin-right: 0%; 
	margin-bottom: 0%; 
	float: left;
}

label.adminL{
	text-align: left;
}

section.adminS{
	margin-bottom: 1%;
	margin-top: 1%;
}

section.adminS2{
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 5%
}

p.adminP2{
	float: left;
}

p.adminP3{
	float:right;
}

p.adminP4{
	margin-top: 20%;
	text-align: left;
}

section.tabla{
	margin-top: 0;
	float: left;
}

ul.sala{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li.lista{
float:left;
 }
 
li a.enlace{
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}
