.background {
    background: white;
}

.texto-chulo{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; font-size: 30px; 
    background: #202020; 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

div.sticky {
    position: sticky;
    border-bottom: 2px solid black;
    top: 0;
    background: white;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    text-align: center;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: rgb(0, 128, 122);
}

/* menu desplegable */

#menu ul ul {
    display:none;
    position: absolute;
    top:100%;
    background:lightblue;
    padding:0;
    border-left: solid 2px #000000;
    border-right: solid 2px #000000;
    border-bottom: solid 2px #000000;
    text-align: center;

   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:100px
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }



.ImgUS {
    margin-right: 0px;
    margin-left: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    width: 140px;
    height: 140px;
}
.ubi-text{
    text-align: center;
}

.Cuerpo{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 40px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 50px;
    padding-bottom: 0px;
}
.texto{
    text-align: center;
    padding-bottom: 0px; 
    padding-top: 0px; 
}
.texto-imagen{
    text-align: center;
    font-size: 30px;
}

.Cuerpo2{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin-top: 240px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 50px;
    padding-bottom: 0px;
}

.fotos{
    width: 200px;
    height: 200px;
    float: left;
}